# Creá una API key en Google Cloud Console (YouTube Data API v3):
# https://console.cloud.google.com/apis/library/youtube.googleapis.com
# https://console.cloud.google.com/apis/credentials
YOUTUBE_API_KEY=TU_API_KEY

# Opcional: si el canal cambia, actualizá el ID (el default es @zeroohms_tech)
YOUTUBE_CHANNEL_ID=UCCd0-uHBqfsmlxcQN7OcMkw
